.blog-card{
    display: flex;
    max-width: 1140px;
    margin-bottom: 76px;
@media screen and (max-width: 920px){
        flex-wrap: wrap;
        justify-content: center;
}
&__img{
    max-width: 460px;
}    
&__body{
    max-width: 600px;
    margin-left: 40px;
@media screen and (max-width: 920px){
        width: 800px;
        margin: 20px;
}
}
&__body__data{
    display: inline-block;
    float: left;
    border: 2px solid rgb(85, 85, 85);
    width: 72px;
    height: 72px;
    font-size: 24px;
    color: rgb(119, 119, 119);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
@media screen and (max-width: 500px){
        float: none;
        display: block;
        margin: 0 auto;
}
}
&__body__title{
    display: inline-block;
    margin-left: 20px;
@media screen and (max-width: 500px){
    display: block;
    margin: 0px auto;
}
}
&__body__title__h2{
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(192, 48, 28);
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
}
&__body__title__avtor{
    font-size: 13px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    line-height: 1.846;
    font-style: italic;
@media screen and (max-width: 500px){
        text-align: center;
}
}
&__body__title__text{
    font-size: 14px;
    font-family: "RobotoSlab";
    line-height: 1.714;
    text-align: left;
}
&__body__title__href{
    font-size: 13px;
    font-family: "RobotoSlab";
    color: rgb(85, 85, 85);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.846; 
    cursor: pointer;
}
&__body__title__href:hover{
    color: rgb(192, 48, 28);
}  
}