.footer{
    display: block;
    width: 100%;
    height: 300px;
    // высота временно
    background-color: rgb(192, 48, 28);

    &__box {
        max-width: 540px;
        margin: 70px auto;
        outline: 1px solid green;
        padding-top: 60px;
    }
    &__social{
        display: flex;
        justify-content: center;
        width: 300px;
        outline: 1px solid green;
        margin: 0px auto;
       
}
&__social::after {
    content: "";
    display: block;
    margin: 30px auto;
    border-bottom: 2px solid white;
    width: 50px;
}
    &__social__block{
        display: inline-block;
        border: 2px solid wheat;
        width: 36px;
        height: 36px;
        // border-radius: 50%;
}
}






// .text-box__first::after {
//     content: "";
//     display: block;
//     margin: 30px auto;
//     border-bottom: 2px solid #555555;
//     width: 50px;
// }