.works-menu{
    display: flex;
    justify-content: space-around;

 &__list{
    width: 415px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}
 a{
        text-decoration: none;
        font-size: 16px;
        color: black;
        font-family: "RobotoSlab";
          
    }
a:hover{
    color: rgb(192, 48, 28);
}
}

.block-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    outline: 1px solid green;
    max-width: 1140px;
    margin: auto;
    

&__work-block{
    width: 360px;
    height: 320px;
    margin-bottom: 30px;
}
// &__work-block__overlay {
//     content: '';
//     position: relative;
// }

}
.block-cards__work-block__overlay{
  
    content: '';
    display: block;
    height: 320px;
    position: absolute;
     width: 360px;
   background-image: linear-gradient( 90deg, rgba(192, 48, 28, 0.8) 40%, rgba(243,129,129, 0.6) 100%);
   opacity: 0;
  }
 .block-cards__work-block:hover .block-cards__work-block__overlay{
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }
 
//   .block-cards__work-block:hover::before{
  
//     content: '';
//     display: block;
//     height: 100%;
//     // position: absolute;
//     // width: 100%;
//    background-image: linear-gradient( 90deg, rgba(192, 48, 28, 0.8) 40%, rgba(243,129,129, 0.6) 100%);
//   }
.card-1{
    background-image: url(../images/work_back/img-1.png);
}
.card-2{
    background-image: url(../images/work_back/img-2.png);
}
.card-3{
    background-image: url(../images/work_back/img-3.png);
}
.card-4{
    background-image: url(../images/work_back/img-4.png);
}
.card-5{
    background-image: url(../images/work_back/img-5.png);
}
.card-6{
    background-image: url(../images/work_back/img-6.png);
}
.card-7{
    background-image: url(../images/work_back/img-7.png);
}
.card-8{
    background-image: url(../images/work_back/img-8.png);
}
.card-9{
    background-image: url(../images/work_back/img-9.png);
}

.overlay-box{
    // display: block;
    // outline: 1px solid yellow;
    width: 140px;
    height: 120px;



&__alt{
    display: block;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 15px;
  }
  &__title{
    display: block;
        font-size: 12px;
        font-family: "RobotoSlab";
        color: rgb(255, 255, 255);
        line-height: 2;
        text-align: center;
        margin-bottom: 20px;
  }
  &__btn{
      display: block;
      border: none;
      margin: 0px auto;
    padding: 10px;
    color: inherit;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100px;
    height: 38px;
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(192, 48, 28);
    text-transform: uppercase;
  }
  &__btn:hover{
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    padding: 6px;
    color: rgb(255, 255, 255);
  }

  &__btn::after{
    content: "";
    display: inline-block;
    width: 6px;
    height: 10px;
    margin-left: 10px;
    background-image: url(../images/icon/fa-angle-left.png);
}
}

// .overlay-box__btn::after{
//     content: "";
//     display: inline-block;
//     width: 6px;
//     height: 10px;
//     margin-left: 10px;
//     background-image: url(../images/icon/fa-angle-left.png);
// }